<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] — Grill N Shakes</title>

    <link rel="stylesheet" href="~/cdn/css/all.min.css" />

    @if (ViewData["Title"]?.ToString() == "New Order")
    {
        <link rel="stylesheet" href="~/css/NewOrder.css" asp-append-version="true" />
    }
    else if (ViewData["Title"]?.ToString() == "Table Manager")
    {
        <link rel="stylesheet" href="~/css/TableManager.css" asp-append-version="true" />
    }
</head>

<body>
    @RenderBody()

    <script src="~/cdn/js/jquery-3.7.1.min.js"></script>

    @if (ViewData["Title"]?.ToString() == "New Order")
    {
        <script src="~/js/NewOrder.js" asp-append-version="true"></script>
    }
    else if (ViewData["Title"]?.ToString() == "Table Manager")
    {
        <script src="~/js/TableManager.js" asp-append-version="true"></script>
    }
</body>